@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url(scrollbar.css);
@import url(colors.css);

body {
    background-color: #171717;
    font-family: "Inter", sans-serif;
    margin: 45px 24px 60px;
}

h1 {
    color: var(--white-color);
    font-size: 10vw;
    margin-bottom: 5px;
}

.directions {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-around;
    color: var(--white-color);
    height: 40px;
    background-color: #202020;
    margin: 15px 0px;
    border-radius: 10px;
    padding: 3px;
    font-size: 4vw;
}

.toMoscow {
    width: 49.5%;
    height: 100%;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toDubki {
    width: 49.5%;
    height: 100%;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chosen {
    background-color: #2a2a2a;
}

/* Timetable section */

.timetable {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--odin);
    color: var(--white-color);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.directionAndTimeLeft {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw; */
}

.direction,
.timeLeft {
    font-size: 4vw;
    padding: 5px 8px;
    background-color: var(--background-secondary);
    border-radius: 7px;
}

.timeLeft {
    text-align: end;
}

.time {
    font-size: 9vw;
    font-weight: 600;
    margin-top: 15px;
}
